<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home | Typedia</title>
</head>
<body>
    Hello! Welcome to the W site! 
    <img src="https://github.com/Tarikul-Islam-Anik/Animated-Fluent-Emojis/blob/master/Emojis/Smilies/Grinning%20Face.png?raw=true" width="20" height="20">

    {% if user.is_authenticated %}
        <p>Welcome, <strong>{{ user.username }}</strong>!</p>
        <form method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <button type="submit">Logout</button>
        </form>        
    {% else %}
        <p>You're not logged in.</p>
        <a href="{% url 'login' %}">Login</a>
    {% endif %}

    <hr><br>
    This is made by HIM, <strong>S.D.</strong> for a blog web-app
    that can be used by people to spread their
    personal creative messages! 🔥
    <br><br>
    <u><strong>*Note:</strong></u> This is still in progress! (login and logout are yet not working!) 👨‍🏭
</body>
</html>
